<!-- Header -->
{{> default/header }}

<!-- Navigation -->
{{> default/top-navigation }}

<body>

<!-- Page content-->
<div class="container">
    {{{ body }}}
</div>

<!-- Footer-->
{{> default/footer }}
