<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet" />
</head>

<!-- Page header with logo and tagline-->
<!--<header class="py-5 bg-light border-bottom mb-4">-->
<!--    <div class="container">-->
<!--        <div class="text-center my-5">-->
<!--            <h1 class="fw-bolder">Welcome to Blog Home!</h1>-->
<!--            <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->